<div class="birth-month-container">
	<div id="settings">
		<div id="lifespanTooltip"></div>
		<div id="month-checks">
			<br>
			<input ng-click="janChecked()" type="checkbox" id="january"> January
			<br>
			<input ng-click="febChecked()" type="checkbox" id="february"> February
			<br>
			<input ng-click="marChecked()" type="checkbox" id="march"> March
			<br>
			<input ng-click="aprChecked()" type="checkbox" id="april"> April
			<br>
			<input ng-click="mayChecked()" type="checkbox" id="may"> May
			<br>
			<input ng-click="junChecked()" type="checkbox" id="june"> June
			<br>
			<input ng-click="julChecked()" type="checkbox" id="july"> July
			<br>
			<input ng-click="augChecked()" type="checkbox" id="august"> August
			<br>
			<input ng-click="sepChecked()" type="checkbox" id="september"> September
			<br>
			<input ng-click="octChecked()" type="checkbox" id="october"> October
			<br>
			<input ng-click="novChecked()" type="checkbox" id="november"> November
			<br>
			<input ng-click="decChecked()" type="checkbox" id="december"> December
			<br>
		</div>


		<div id="gen-checks">
			<input ng-click="gen1Checked()" type="checkbox" id="gen1"> Generation 1
			<br>
			<input ng-click="gen2Checked()" type="checkbox" id="gen2"> Generation 2
			<br>
			<input ng-click="gen3Checked()" type="checkbox" id="gen3"> Generation 3
			<br>
			<input ng-click="gen4Checked()" type="checkbox" id="gen4"> Generation 4
			<br>
			<input ng-click="gen5Checked()" type="checkbox" id="gen5"> Generation 5
			<br>
			<input ng-click="gen6Checked()" type="checkbox" id="gen6"> Generation 6
			<br>
			<input ng-click="gen7Checked()" type="checkbox" id="gen7"> Generation 7
			<br>
		</div>

	<div id="total-to-display">
		<div id="month-totals">
			<div ng-show="januaryIsChecked"> January Births {{totalBirthsPerMonth.january}}</div>
			<div ng-show="februaryIsChecked"> February Births {{totalBirthsPerMonth.february}}</div>
			<div ng-show="marchIsChecked"> March Births {{totalBirthsPerMonth.march}}</div>
			<div ng-show="aprilIsChecked"> April Births {{totalBirthsPerMonth.april}}</div>
			<div ng-show="mayIsChecked"> May Births {{totalBirthsPerMonth.may}}</div>
			<div ng-show="juneIsChecked"> June Births {{totalBirthsPerMonth.june}}</div>
			<div ng-show="julyIsChecked"> July Births {{totalBirthsPerMonth.july}}</div>
			<div ng-show="augustIsChecked"> August Births {{totalBirthsPerMonth.august}}</div>
			<div ng-show="septemberIsChecked"> September Births {{totalBirthsPerMonth.september}}</div>
			<div ng-show="octoberIsChecked"> October Births {{totalBirthsPerMonth.october}}</div>
			<div ng-show="novemberIsChecked"> November Births {{totalBirthsPerMonth.november}}</div>
			<div ng-show="decemberIsChecked"> December Births {{totalBirthsPerMonth.december}}</div>
		</div>

		<div id="generation-totals">
			<div ng-show="gen1IsChecked"> Generation 1 Births {{totalBirthsPerGeneration.generation1}}</div>
			<div ng-show="gen2IsChecked"> Generation 2 Births {{totalBirthsPerGeneration.generation2}}</div>
			<div ng-show="gen3IsChecked"> Generation 3 Births {{totalBirthsPerGeneration.generation3}}</div>
			<div ng-show="gen4IsChecked"> Geneartion 4 Births {{totalBirthsPerGeneration.generation4}}</div>
			<div ng-show="gen5IsChecked"> Generation 5 Births {{totalBirthsPerGeneration.generation5}}</div>
			<div ng-show="gen6IsChecked"> Generation 6 Births {{totalBirthsPerGeneration.generation6}}</div>
			<div ng-show="gen7IsChecked"> Generation 7 Births {{totalBirthsPerGeneration.generation7}}</div>
		</div>
		</div>
	</div>
	<div id="chart-container">
		<div id="svg"> </div>
	</div>
</div>
