#about-wrapper
	margin 0 auto
	// width 90%
	min-width 1400px

.numbers
	font-size 3.5em
	font-weight 300
	margin-top 5px
	margin-bottom 5px
	display inline-block
	margin-left 50px
	margin-right 50px


	// display inline-block
	// margin-left 50px
	// margin-right 50px
	// border 1px solid gray
	// border-radius 20px
	// display inline-block

#component-wrapper
	width 100%
	height 402px
	margin-bottom 20px
	display flex
	flex-direction row
	justify-content	space-around

#about-wrapper i
	margin-left 130px
	margin-right 130px
	color gray
	vertical-align middle

#about-wrapper span
	margin-left 110px

.about-component
	// margin-left 80px
	// margin-right 80px
	// display inline-block
	// float left
	width 25%
	// border 1px solid red
	display flex
	flex-direction column
	align-items center
	max-width 350px
	min-width 307px


.about-component img
	width 120px
	text-align center
	// margin-left 65px
	max-height 120px


.about-component p
	// text-align justify
	width 90%

.about-component a
	text-decoration inherit
	color inherit
	font-weight 700

.teamText a
	text-decoration inherit
	color inherit
	font-weight 700

a:visited
	text-decoration inherit
	color inherit

.numberSteps
	display flex
	flex-direction row
	justify-content	space-around
	align-items center

.aboutTeam
	margin-top 50px
	display flex
	flex-direction column
	align-items center

.teamText
	width 75%
	margin-top 0px
	margin-bottom 50px
	text-align center

.contactText
	margin-bottom 0px

.contactArea
	margin-bottom 75px
	display flex
	flex-direction  column
	align-items center

.teamPics
	display flex
	flex-direction row
	justify-content space-around
	align-items center
	margin-top 95px
	margin-bottom 75px
	width 85%

.teamMember
	display flex
	flex-direction column
	justify-content center
	align-items center


.teamPic1
	border 1px solid grey
	border-radius 50%
	height 220px
	width 220px
	background-image url('../../images/erinv.jpg')
	background-size cover

.teamPic2
	border 1px solid grey
	border-radius 50%
	height 220px
	width 220px
	background-image url('../../images/luke.jpg')
	background-size cover

.teamPic3
	border 1px solid grey
	border-radius 50%
	height 220px
	width 220px
	background-image url('../../images/erins.jpg')
	background-size cover

.teamPic4
	border 1px solid grey
	border-radius 50%
	height 220px
	width 220px
	background-image url('../../images/zach.jpg')
	background-size cover
	background-position -10px 0px
