#about-wrapper
	margin 0 auto
	width 90%

#about-wrapper h1
	font-size 3.5em
	font-weight 300
	margin-top 5px
	margin-bottom 5px
	display inline-block
	margin-left 50px
	margin-right 50px
	// border 1px solid gray
	// border-radius 20px
	// display inline-block
#component-wrapper
	width 100%
	height 402px
	margin-bottom 20px

#about-wrapper i
	margin-left 130px
	margin-right 130px
	color #f89e31
	color gray

#about-wrapper span
	margin-left 110px

.about-component
	margin-left 80px
	margin-right 80px
	// display inline-block
	float left
	width 20%
	// border 1px solid red


.about-component img
	width 120px
	text-align center
	margin-left 65px


.about-component a
	text-decoration inherit
	color inherit
	font-weight 700

a:visited
	text-decoration inherit
	color inherit
