.alivesvg {
  font: 10px sans-serif;
}

.alivearea {
  fill: steelblue;
  clip-path: url(#clip);
}

.aliveaxis path,
.aliveaxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.alivebrush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}