.alivesvg {
  font: 10px sans-serif;
  margin-top: 30px;
}

.alivearea {
  fill: rgb(255, 183, 51);
  clip-path: url(#clip);
}
.aliveareaMale {
  fill: #ff0000;
  clip-path: url(#clip);
}
.aliveareaFemale {
  fill: #ff33cc;
  clip-path: url(#clip);	
}

.aliveaxis path,
.aliveaxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.alivebrush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.alivePerYearWrapper {
	margin: 0 auto;
	width: 90%;
}

.aliveGenderBox {
	margin-top: 20px;
}

.genderChoice {
	float: right;
	font-size: 15px;
}