.alivesvg {
  font: 10px sans-serif;
  margin-top: 30px;
}

.alivearea {
  fill: rgb(255, 183, 51);
  clip-path: url(#clip);
}
.aliveareaMale {
  fill: #ff0000;
  clip-path: url(#clip);
}
.aliveareaFemale {
  fill: #ff33cc;
  clip-path: url(#clip);	
}

.aliveaxis path,
.aliveaxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.alivebrush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.alivePerYearWrapper {
	margin: 0 auto;
	width: 90%;
}


.genderChoice {
	// float: right;
	font-size: 15px;
	margin-bottom: 20px;
}

#livingFooter {
	clear both;
	margin-top: 50px;
}

.aliveMainWrapper {
	width: 100%;
	position: relative;
	// height: 100vh;
}

.livingSettingsWrapper {
	width: 250px;
	float: right;
	text-align: center;
	border: 1px solid gray;
	font-weight: 300;
	font-family: 'Open Sans',sans-serif;
	margin-right: 72px;
	margin-top: 30px;
}

#livingChartSettingsHeader {
	font-weight: 300;
}

.aliveGenderBox label {
	padding-left: 5px;
	padding-right: 5px;
}