
.birth-month-header
	width 90%
	margin 0 auto
	height 60px

.birth-month-header h1
	padding 0
	margin-top 25px
	margin-bottom 5px
	font-weight 300

.birth-month-container
	margin 0 auto
	width 90%

#settings
	float left
	height 100vh
	width 26%


#chart-container
	height 100vh
	float right
	width 72%
	position relative


#svg
	position absolute
	top 0
	right 0
	margin-right 50px


#month-checks
	margin-top 70px
	float left

#month-checks-2
	margin-top 70px
	float right

#gen-checks
	margin-top 70px


#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

// #explanation {
//   position: absolute;
//   top: 260px;
//   left: 305px;
//   width: 140px;
//   text-align: center;
//   color: #666;
//   z-index: -1;
// }

#percentage {
  font-size: 2.5em;
}

.main
	opacity .2

.selected
	opacity 1
	// fill red

#settings-holder
	border 1px solid gray
	height 460px
	box-sizing border-box
	margin-top 10%
	padding-top 20px
	padding-left 35px
	padding-right 35px
	position relative
	width 320px

#settings-holder h1
	font-weight 300
	text-align center
	margin-top 0
	margin-bottom 10px

#settings-holder h2
	font-weight 300
	text-align center
	margin 0
// #settings-holder button
// 	margin-top 10px
// 	margin-bottom 10px

#settings-holder button {

	cursor pointer
	position: absolute;
	margin: 0 auto;
	font-size: 1.0rem;
	padding: .75rem 1.5rem;
	display: block;
	background-color: #1bb54a;
	border: 1px solid transparent;
	color: #ffffff;
	font-weight: 300;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#settings-holder button:focus
	outline none


#settings-holder button:hover {
  background-color: #ffffff;
  color: #1bb54a;
  border-color: #1bb54a;
}

#top-holder
	width 100%
	height 300px
	// border 1px solid red

#total-to-display
	width 100%
	height 130px
	font-weight 300
	// border 1px solid blue


#total-to-display span
	font-weight 700
