.node 
  cursor pointer


.node:hover 
  stroke #000
  stroke-width 1.5px


.node--leaf 
  fill white


.label 
  font 11px "Helvetica Neue", Helvetica, Arial, sans-serif
  text-anchor middle
  text-shadow 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff


.label, .node--root, .node--leaf 
  pointer-events none
  
.gender-toggle
	padding-top 50px
	font-size 1.5em
	text-align center
	float left
	width 40%
	
	table
		margin 0 auto

.zoom-chart-wrapper
	float right
	width 55%

// .family-zoom-chart
// 	float right
