.infoBoxesWrapper
	width 80%
	margin 0 auto


.oneInfoBox
	width 25%
	text-align center
	margin 0 auto
	padding 40px


.pie-chart, .tree-icon, .gear-icon
	height 100px
	width 100px

#infoBoxText
	font-weight 300
	margin-bottom 80px
