.infoBoxesWrapper
	height 400px
	width 80%
	margin 0 auto

.oneInfoBox
	height 400px
	width 25%
	text-align center
	margin 0 auto
	padding 40px
	
.pie-chart, .tree-icon, .gear-icon
	height 100px
	width 100px
	
#infoBoxText
	font-weight 300