.learnMoreWrapper
	display flex 
	flex-direction column
	justify-content center
	align-items center
	align-content center
	width 100%

.pictureRow
	display flex
	flex-direction row
	justify-content space-around
	width 100%
	margin-top 20px
	

.learnMorePic1
	height 180px
	width 350px
	margin-left 20px
	margin-right 20px
	margin-top 20px
	margin-bottom 20px
	background-image url("../../images/learn-more-asian.jpg")
	background-size cover
	background-repeat no-repeat
	
.learnMorePic2
	height 180px
	width 350px
	margin-left 20px
	margin-right 20px
	margin-top 20px
	margin-bottom 20px
	background-image url("../../images/learn-more-white.jpg")
	background-size cover
	background-repeat no-repeat

.learnMorePic3
	height 180px
	width 350px
	margin-left 20px
	margin-right 20px
	margin-top 20px
	margin-bottom 40px
	background-image url("../../images/learn-more-african-american.jpg")
	background-size cover
	background-repeat no-repeat

.faqsList
	display flex
	flex-direction column
	width 90%
	justify-content center
	align-content center

.question
	font-size 1.5em
	font-weight 400
	width 100%

.answer
	font-size 1.2em
	font-weight 300
	margin-top 10px
	margin-bottom 45px

.famSearchLink
	text-decoration inherit
	color inherit
	font-weight 700

.famSearchLink:visited
	text-decoration inherit
	color inherit

.learnMoreLogos
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	width 65%
	margin-top 20px
	margin-bottom 20px

.famGraphImg
	padding-top 21px

.plusSign
	padding-top 17px
