.lifespanContainer
	display flex
	flex-direction row
	justify-content	center
	margin 20px 0px 20px 0px
	


.axis {
  fill: black;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.axis .halo {
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
}

.slider .handle path {
  stroke: green;
  stroke-width: 3px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  fill: green;
  text-align: center;
  font-size: 18px;
}

.lifespan .axis line {
    width: 5px;
    fill: black;
    stroke: green;
    shape-rendering: crispEdges;
}