#login-div
	background-color dodgerblue
	color white
	width 200px
	height 100px
	border-radius 20px
	padding-top 60px
	padding-left 20px

	a
		text-decoration none
		font-size 1.2em
		font-family sans-serif
		text-align center
		color white
