.thumbnail-holder
	background-color rgb(235, 235, 235)
	width 400px
	height 260px
	border-radius 10px
	margin-top 20px
	margin-left 40px
	margin-right 40px
	display inline-block


.thumbnail-container
	width 90%
	margin 0 auto
	text-align center

.thumbnail-holder p
	text-decoration none
	color black
	font-size .7em
	text-align left
	width 320px
	margin 0 auto
	line-height 20px

.thumbnail
	width 380px
	height 260px
	background-image url("../../images/graph-image-1.png")
	background-size cover
	display inline-block

/* Opacity #2 */
#thumbnail-pane
	background-color: #5e5e5e;
	width 380px
	height 260px
	opacity: 0;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

#thumbnail-pane:hover {
	opacity: .7;
}

.thumbnail-text
	margin 0
	padding 0
