.thumbnail-holder
	background-color rgb(235, 235, 235)
	width 400px
	height 260px
	border-radius 10px
	margin-top 20px
	margin-left 40px
	margin-right 40px
	display inline-block


.thumbnail-container
	width 90%
	margin 0 auto
	text-align center
	display flex
	flex-direction row
	flex-wrap wrap


.thumbnail
	width 380px
	height 260px
	background-image url("../../images/graph-image-1.png")
	background-size cover
	display inline-block
	border-radius 10px
	margin-left 20px
	margin-right 20px
	margin-top 20px
	// text-align center


.thumbnail1
	background-image url("../../images/graph-image-1.png")
	background-size cover


.thumbnail2
	background-image url("../../images/graph-image-2.png")
	background-size cover


.thumbnail3
	background-image url("../../images/graph-image-3.png")
	background-size cover


.thumbnail4
	background-image url("../../images/graph-image-4.png")
	background-size cover



/* Opacity #2 */
.thumbnail-pane
	background-color: #1bb54a
	width 380px
	height 260px
	opacity: 0;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	border-radius 10px
	position relative
	display inline-block
	
	

.thumbnail-pane:hover {
	opacity: .85;
	
}

.thumbnail-text
	margin 0
	// margin-top 150
	color white
	font-weight bolder
	font-size 2em
	position absolute
	
.thumby1 {
	top 50px
	left 110px
}
.thumbSubText1 {
	text-align left
	color white
	position absolute
	top 135px
	left 20px
	font-weight 300
}


.thumby2 {
	top 80px
	left 124px
}
.thumbSubText2 {
	text-align left
	color white
	position absolute
	top 125px
	left 20px
	font-weight 300
}


.thumby3 {
	top 80px
	left 104px
}
.thumbSubText3 {
	text-align left
	color white
	position absolute
	top 125px
	left 20px
	font-weight 300
}


.thumby4 {
	top 50px
	left 120px
}
.thumbSubText4 {
	text-align left
	color white
	position absolute
	top 130px
	left 20px
	font-weight 300
}