.thumbnail-holder
	background-color rgb(235, 235, 235)
	width 400px
	height 260px
	border-radius 10px
	margin-top 20px
	margin-left 40px
	margin-right 40px
	display inline-block


.thumbnail-container
	width 90%
	margin 0 auto
	text-align center

.thumbnail-holder p
	text-decoration none
	color black
	font-size .7em
	text-align left
	width 320px
	margin 0 auto
	line-height 20px
